In [1]:
import scipy.io as sio

manu_flag_list_mat=sio.loadmat('./Data/manu_flag_list.mat')

In [3]:
import pandas as pd

manu_flag_list=manu_flag_list_mat['manu_flag_list']

df = pd.DataFrame(manu_flag_list,
                 columns = ['manu_flag_list'])
df.to_csv('./Data/manu_flag_list.csv',index=False)

In [4]:
manu_flag_list.shape

(8424, 1)

In [5]:
manu_flag_list[0]

array([0], dtype=uint8)

In [6]:
import pandas as pd
import numpy as np

# test = pd.read_json('./Data/test.json')
import json
with open('../iceberg/data/test.json', 'r') as f:
    test = json.load(f)
    test=pd.DataFrame(test)
    
print('done!')

# test['index']=range(0,8424)
test.head(10)

test1 = test.copy()
test2 = test.copy()

test1.shape

for i in range(0,8424):
    if manu_flag_list[i] == 1:
        test1=test1.drop([i])
#         print(1)
    elif manu_flag_list[i] == 0:
        test2=test2.drop([i])
#         print(0)

test2['inc_angle']

test1.shape

test2.shape

test2.to_json('./data/test_human_labeled.json')
test1.to_json('./data/test_nohuman.json')

In [23]:
sub = pd.read_csv('./submission/subTLInceptionV3-6.3.csv')
sub.shape

(8424, 2)

In [24]:
sub.head(10)

         id  is_iceberg
0  5941774d    0.008807
1  4023181e    0.394198
2  b20200e4    0.006828
3  e7f018bb    0.997370
4  4371c8c3    0.950763
5  a8d9b1fd    0.000001
6  29e7727e    0.004061
7  92a51ffb    0.996363
8  c769ac97    0.009970
9  aee0547d    0.000543

In [25]:
sub1=sub.copy()  # nohuman
sub2=sub.copy()  # human

In [26]:
sub.shape

(8424, 2)

In [27]:
for i in range(0,8424):
    if manu_flag_list[i] == 1:  # 1 表示人工
        sub1=sub1.drop([i])
#         print(1)
    elif manu_flag_list[i] == 0: # 0表示非人工
        sub2=sub2.drop([i])
#         print(0)

In [28]:
sub1.head(10)

          id  is_iceberg
0   5941774d    0.008807
3   e7f018bb    0.997370
6   29e7727e    0.004061
7   92a51ffb    0.996363
8   c769ac97    0.009970
9   aee0547d    0.000543
10  565b28ac    0.005721
12  8e8161d1    0.006537
15  f156976f    0.002387
19  5f6d3988    0.991711

In [29]:
sub1.shape

(3429, 2)

In [38]:
r = 0.0001
sub1[(sub1['is_iceberg']>1-r)|(sub1['is_iceberg']<r)].count()
# sub2[(sub2['is_iceberg']>0.5-r)&(sub2['is_iceberg']<0.5+r)].count()

id            27
is_iceberg    27
dtype: int64

In [39]:
sub2[(sub2['is_iceberg']>1-r)|(sub2['is_iceberg']<r)].count()

id            73
is_iceberg    73
dtype: int64

In [42]:
sub1[(sub1['is_iceberg']>0.3)&(sub1['is_iceberg']<0.7)].count()

id            173
is_iceberg    173
dtype: int64

In [44]:
sub2[(sub2['is_iceberg']>0.3)&(sub2['is_iceberg']<0.7)].count()

id            1004
is_iceberg    1004
dtype: int64

sub2.to_csv('./submission/sub9.9_human_labeled.csv')
sub1.to_csv('./submission/sub9.9_nohuman.csv')